{% extends 'base.html' %}

{% block content %}
<h1>Календарь</h1>

<!--{% for date in dates %}-->
<!--<a href="{% url 'datepage' date %}"><button type="button" class="btn btn-light">{{date}}</button></a>-->

<!--{% endfor %}-->
{% csrf_token %}
<form action="" method="POST">
<div class="mb-3">
<div class="input-icon">
  <input type="date" class="form-control" placeholder="Select a date" id="datepicker-icon-prepend" value="{% now 'Y-m-d' %}" name="date">
</div>
</div>
    <input class="btn btn-primary" type="submit" value="Поиск">
</form>
{% endblock %}