{% extends 'base.html' %}
{% block content %}
<div class="page-body">
          <div class="container-xl">
            <div class="card">
              <div class="card-body">
                <div id="table-default">
                  <h1>Архив оплаченных долгов</h1>
                  <br>
                  <br>
                  <table class="table">
                    <thead>
                      <tr>
                        <th><button class="table-sort" data-sort="sort-name">Имя</button></th>
                        <th><button class="table-sort" data-sort="sort-city">Тел.номер</button></th>
                        <th><button class="table-sort" data-sort="sort-type">Адрес</button></th>
                        <th><button class="table-sort" data-sort="sort-date">Количество мяса</button></th>
                        <th><button class="table-sort" data-sort="sort-quantity">Дата выдачи</button></th>
                        <th><button class="table-sort" data-sort="sort-progress">Дата возврата</button></th>
                        <th><button class="table-sort" data-sort="sort-progress"></button></th>
                      </tr>
                    </thead>
                    <tbody class="table-tbody">
                    {% for debt in debts %}
                    {% if debt.status == 'paid' %}
                      <tr>
                        <td class="sort-name">{{debt.debtor.last_name}} {{debt.debtor.first_name}} {% if debt.debtor.middle_name %}{{debt.debtor.middle_name}} {% endif %}</td>
                        <td class="sort-city">{{debt.debtor.phone_number}}</td>
                        <td class="sort-type">{{debt.debtor.address}}</td>
                        <td class="sort-date">{{debt.amount_meat}}</td>
                        <td class="sort-quantity">{{debt.created}}</td>
                        <td class="sort-progress">{{debt.return_date}}</td>
                        <td><a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#modal-scrollable-{{debt.id}}">Логи</a></td>
                      </tr>
                    <div class="modal modal-blur fade" id="modal-scrollable-{{debt.id}}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{debt.debtor.last_name}} {{debt.debtor.first_name}} {{debt.debtor.middle_name}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Долг был создан {{debt.created}}</p>
            <hr>
            {% for log in debt.logs.all %}
            <p>{{log.updater}} || {{log.created}} | {{log.text}} </p>
            <p></p>
            <hr>

            {% endfor %}
          </div>
        </div>
      </div>
    </div>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}