{% extends 'base.html' %}

{% block content %}
<div class="col-12">
                <div class="card">
                  <div class="card-body border-bottom py-3">
                    <div class="d-flex">
                      <h3>Записи {% if is_index %} за все дни {% else %}на {{this_date}}{% endif %}</h3>
                  <a href="#" class="btn btn-primary d-none d-sm-inline-block ms-auto" data-bs-toggle="modal" data-bs-target="#modal-report">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                    Добавить новый долг
                  </a>

                      <div class="ms-auto text-muted">

                        <div class="ms-2 d-inline-block">

                        </div>
                      </div>
                    </div>
                  </div>
                <div id="data-table">
                  <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                      <thead>
                        <tr>
                          <th class="w-1"></th>
                          </th>
                          <th>Имя</th>
                          <th>Размер долга</th>
                          <th>Количество мяса</th>
                          <th>Дата выдачи</th>
                          <th>Дата возврата</th>
                          <th>Статус</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for debt in debts %}
                        <tr>
                          <td></td>
                          <td><a href="{% url 'client_detail' debt.debtor.id %}" class="text-reset" tabindex="-1">{{debt.debtor.last_name}}  {{debt.debtor.first_name}}</a></td>
                          <td>
                            {{debt.quantity}} сом
                          </td>
                          <td>
                            {{ debt.amount_meat }} кг
                          </td>
                          <td>{{debt.created}}</td>
                          <td>{% if debt.expired %} Просрочен! {% endif %}({{debt.return_date}})</td>
                          <td><span class="badge bg-{% if debt.status == 'not paid' %}danger{% elif debt.status == 'paid' %}success{% else %}secondary{% endif %} me-1"> </span>{{ debt.get_status_display}}</td>
                          <td class="text-end">

                              <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-{{debt.id}}">
                                Редактировать
                              </a>
                          </td>
                          <td><a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#modal-scrollable-{{debt.id}}">
                    Логи
                  </a></td>
                        </tr>
                        <form method="POST" action="{% url 'debt_update' debt.id %}">
    <div class="modal modal-blur fade" id="modal-{{debt.id}}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Редактирование</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                      <select hidden name="debtor" required="" id="id_debtor">
                        <option value="{{debt.debtor.id}}" selected="">{{debt.debtor}}</option>
                      </select>
                  <h1>{{debt.debtor}}</h1>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Размер долга</label>
                  <input type="text" name="quantity" class="form-control" required="" id="id_quantity" value="{{debt.quantity}}">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Количество мяса</label>
                  <input type="text" name="amount_meat" class="form-control" required="" id="id_amount_meat" value="{{debt.amount_meat}}">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Дата выдачи</label>
                  <input type="date" name="created" value="{{debt.created|date:'Y-m-d'}}" class=" form-control" required="" id="id_created">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Дата возврата</label>
                  <input type="date" value="{{debt.return_date|date:'Y-m-d'}}" name="return_date" class="form-control" id="id_return_date">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer" id="save-button">
            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
              Отменить
            </a>
              {% csrf_token %}
            <button type="submit" class="btn btn-primary" id="update-save">Сохранить</button>
          </div>
        </div>
      </div>
    </div>
  </form>
<div class="modal modal-blur fade" id="modal-scrollable-{{debt.id}}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{debt.debtor.last_name}} {{debt.debtor.first_name}} {{debt.debtor.middle_name}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Долг был создан {{debt.created}}</p>
            <hr>
            {% for log in debt.logs.all %}
            <p>{{log.created}} | {{log.text}} </p>
            <p></p>
            <hr>

            {% endfor %}
          </div>
        </div>
      </div>
    </div>
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer d-flex align-items-center">

                  </div>
                  <ul class="pagination pagination-sm" id="pagination">

                    {% for date in dates %}
                      <li class="page-item {% if is_index %} {% elif date == this_date  %} active {% endif %}"><a class="page-link" href="{% url 'datepage' date%}">{{ date }}</a></li>

                    {% endfor %}
                    </ul>

                </div>
              </div>
  </div>
<br>
<br>
<br>
<br>
          <h1> Ближайшие долги</h1>
            <div id="table-default">
                  <table class="table">
                    <thead>
                      <tr>
                        <th><button class="table-sort" data-sort="sort-name">Имя</button></th>
                        <th><button class="table-sort" data-sort="sort-type">Размер долга</button></th>
                        <th><button class="table-sort" data-sort="sort-score">Количество мяса</button></th>
                        <th><button class="table-sort" data-sort="sort-date">Дата выдачи</button></th>
                        <th><button class="table-sort" data-sort="sort-quantity">Дата возврата</button></th>
                      </tr>
                    </thead>
                    <tbody class="table-tbody">
                    {% for debt in burning_debts %}
                      <tr>
                        <td class="sort-name">{{debt.debtor.last_name}} {{debt.debtor.first_name}}</td>
                        <td class="sort-type">{{debt.quantity}} сом</td>
                        <td class="sort-score">{{debt.amount_meat}} кг</td>
                        <td class="sort-date">{{debt.created}}</td>
                        <td class="sort-quantity">{{debt.return_date}}</td>
                        <td class="sort-progress">
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>

<form method="POST" action="{% url 'datepage' this_date %}">
    <div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Новый долг</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Клиент</label>
                  {{form.debtor}}
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Размер долга</label>
                  {{form.quantity}}
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Количество мяса</label>
                  {{form.amount_meat}}
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Дата выдачи</label>
                  <input type="date" name="created" value="{% now 'Y-m-d' %}" class=" form-control" required="" id="id_created">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Дата возврата</label>
                  {{form.return_date}}
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
              Отменить
            </a>
              {% csrf_token %}
            <button type="submit" class="btn btn-primary">Добавить</button>
          </div>
        </div>
      </div>
    </div>
  </form>


{% endblock %}