{% extends 'base.html' %}

{% block content %}
<div class="col-12">
                <div class="card">
                  <div class="card-body border-bottom py-3">
                    <div class="d-flex">

                        <h3 class="card-title">Календарь</h3>
                      <div class="ms-auto text-muted">
                        Search:
                        <div class="ms-2 d-inline-block">
                          <input type="text" class="form-control form-control-sm" aria-label="Search invoice">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                      <thead>
                        <tr>
                          <th class="w-1"></th>
                          </th>
                          <th>Имя</th>
                          <th>Номер телефона</th>
                          <th>Размер долга</th>
                          <th>Количество мяса</th>
                          <th>Дата выдачи</th>
                          <th>Дата возврата</th>
                          <th>Статус</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for debt in debts %}
                        <tr>
                          <td></td>
                          <td><a href="invoice.html" class="text-reset" tabindex="-1">{{debt.debtor.last_name}}  {{debt.debtor.first_name}}</a></td>
                          <td>
                            {{debt.debtor.phone_number}}
                          </td>
                          <td>
                            {{debt.quantity}} сом
                          </td>
                          <td>
                            {{ debt.amount_meat }} кг
                          </td>
                          <td>
                            <span class="badge bg-success me-1"></span> Paid
                          </td>
                          <td>{{debt.created}}</td>
                          <td>{{ debt.status}}</td>
                          <td class="text-end">
                            <span class="dropdown">
                              <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                              <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#">
                                  Action
                                </a>
                                <a class="dropdown-item" href="#">
                                  Another action
                                </a>
                              </div>
                            </span>
                          </td>
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer d-flex align-items-center">

                  </div>
                  <ul class="pagination pagination-sm">

                    {% for date in dates %}
                      <li class="page-item {% if date == this_date  %} active {% endif %}"><a class="page-link" href="{% url 'datepage' date%}">{{ date }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
              </div>
<br>
<br>
<br>
<br>
          <h1> Ближайшие долги</h1>
            <div id="table-default">
                  <table class="table">
                    <thead>
                      <tr>
                        <th><button class="table-sort" data-sort="sort-name">Имя</button></th>
                        <th><button class="table-sort" data-sort="sort-city">Номер телефона</button></th>
                        <th><button class="table-sort" data-sort="sort-type">Размер долга</button></th>
                        <th><button class="table-sort" data-sort="sort-score">Количество мяса</button></th>
                        <th><button class="table-sort" data-sort="sort-date">Дата выдачи</button></th>
                        <th><button class="table-sort" data-sort="sort-quantity">Дата возврата</button></th>
                        <th><button class="table-sort" data-sort="sort-progress">Прогресс</button></th>
                      </tr>
                    </thead>
                    <tbody class="table-tbody">
                    {% for debt in burning_debts %}
                      <tr>
                        <td class="sort-name">{{debt.debtor.last_name}} {{debt.debtor.first_name}}</td>
                        <td class="sort-city">{{debt.debtor.phone_number}}</td>
                        <td class="sort-type">{{debt.quantity}} сом</td>
                        <td class="sort-score">{{debt.amount_meat}} кг</td>
                        <td class="sort-date">{{debt.created}}</td>
                        <td class="sort-quantity">{{debt.return_date}}</td>
                        <td class="sort-progress">
                          <div class="row align-items-center">
                            <div class="col-auto">{{debt.progress}}%</div>
                            <div class="col">
                              <div class="progress" style="width: 5rem">
                                <div class="progress-bar" style="width: {{debt.progress}}%" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" aria-label=" Complete">
                                  <span class="visually-hidden">90% Complete</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
{% endblock %}